AMAZON RMA registration

	-	Require customer name (buyer-name)
	-	Amazon Order ID (order-id)
	-	Seller Order ID (QB invoice number)
	-	Quantity (quantity-purchased)
	-	Product name (SKU)
	-	Product descriptions (product-name)
	-	Serial number (from Seller notes box)
	-	Generate a return case number (prefer random with characters and numbers, if not reverse of date code and number of case.  For example today 2021-01-25 the first case, 10052101202.  Next case number 20052101202 etc.)
	-	Status
		-	Request
		-	Received
		-	Rejected/Tested
		-	Sent to Vendor
		-	Refunded/Replaced
		-	Completed (Inactive)
 



Standard Infonec or D2A RMA registration

	-	Customer name
	-	Invoice Number
	-	Invoice Date
	-	Quantity
	-	Product name
	-	Product description
	-	Serial number
	-	Reason of return
	-	Status
		-	Request
		-	Received
		-	Rejected/Tested
		-	Sent to Vendor
		-	Refunded/Replaced
		-	Completed (Inactive)